body {
  background-color: lightgreen;
  /* Let's use CSS grid to give our page one 50px row for the header and to fill the rest of the page with our `main` area */
  display: grid;
  grid-template-rows: 50px auto;
  /* Even though we see the page covered in light green, the body isn't actually filling the height of the page until we add a height. Also adding width just to be explicit. */
  width: 100vw;
  height: 100vh;
}

.main {
  background-color: yellow;
  /* In our `main` area, we'll use grid to add two columns. The sidebar column is 240px and the content area fills the rest of the space */
  display: grid;
  grid-template-columns: 240px auto;
}

.header {
  background-color: pink;
}

.sidebar {
  background-color: lightblue;
}

.content {
  background-color: lavender;
}
