body {
  background-color: lightgreen;
  /* Let's use CSS grid to give our page one 50px row for the header and to fill the rest of the page with our `main` area */
  display: grid;
  grid-template-rows: 50px calc(100vh - 50px);
  /* Even though we see the page covered in light green, the body isn't actually filling the height of the page until we add a height. Also adding width just to be explicit. */
  width: 100vw;
  height: 100vh;
}

.main {
  background-color: yellow;
  /* In our `main` area, we'll use grid to add two columns. The sidebar column is 240px and the content area fills the rest of the space */
  display: grid;
  grid-template-columns: 240px auto;
}

.header {
  background-color: pink;
}

.logo {
  height: 100%;
}

.sidebar {
  background-color: lightblue;
  overflow-y: auto;
}

.content {
  background-color: lavender;
  padding: 20px 50px;
  overflow-y: auto;
}

.videos_row {
  border: 1px solid black;
}

.video_list {
  display: flex;
  /* Space between because I want the videos to be flush to the edges with all of the extra space in between them */
  justify-content: space-between;
}

.video_wrapper {
  max-width: 210px;
}

.video_media {
  width: 100%;
  object-fit: contain;
}
